body {
    margin: 0; 
    background-color: #eaf6f6;
    text-align: center;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
}

/* Header and Footer specific */
header, footer {
    background-color: #98ddca;
}

header h1 {
    margin: 0;
    padding: 25px 10px 0px 12px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: black;
}

header h2 {
    margin: 0;
    padding: 0px 10px 20px 12px;
    font-size: 1.5rem;
    color: black;
}

footer {
    padding: 25px 15px 20px 12px;
}

/* Article Section specific */
main {
    margin: 30px auto 50px auto;
    width: 50%;
    padding: 20px;
}

hr {
    color: grey;
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
}

/* Lists: Unordered and ordered */
ul {
    width: 5%;
    text-align: center;
    /* Using percentages so it's more responsive when you change window size */
    margin: 2% 40%;
}

ol {
    text-align: left;
}

/* Headers */
h1 {
    color: #11999E; 
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    color: #11999E; 
    font-weight: bold;
}

.logo-images {
    width: 30px;
    height: 30px;
    padding: 10px;
}

/* Links: styles at different states */
/* Baseline */
a:link {
    color: #195847;
    margin: 5px;
    text-decoration: none;
}

/* Hover */
a:hover {
    color: #EAF6F6;
}
