body {
    margin: 0;
    background-color: #eaf6f6;
    text-align: center;
    font-family: 'Merriweather', serif;
  }

header, footer {
    background-color: #98ddca;
}

header h1 {
    margin: 0;
    padding: 25px 10px 0px 12px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

header h2 {
    margin: 0;
    padding: 0px 10px 20px 12px;
    font-size: 1.5rem;
}

main {
    margin: 30px auto 50px auto;
    width: 50%;
    padding: 20px;
}

hr {
    color: grey;
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
}

ul {
    width: 5%;
    text-align: center;
    margin: 16px 300px 16px auto;
}

a:link {
    color: #11999E;
    margin: 5px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

h1 {
    color: #11999E; 
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    color: #11999E; 
    font-weight: bold;
}

.logo-images {
    width: 30px;
    height: 30px;
    padding: 10px;
}

footer {
    padding: 25px 15px 20px 12px;
}

